section {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: var(--half-spacing);
}

section .section-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: var(--half-spacing) 0;
}

section .section-header span {
  font-size: var(--large-font);
  font-weight: 700;
}

section .section-header a {
  font-size: var(--small-font);
  color: var(--accent-color);
}

section .section-body.has-padding {
  padding: var(--spacing);
}

section .section-body.center-content {
  align-items: center !important;
  justify-content: center !important;
}

section .section-body.add-spacing {
  gap: var(--spacing);
}

section .section-body.fit-content {
  width: auto !important;
}

section .section-body.main {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
}

section .section-body.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

section .section-body.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

section .section-body.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(25% - var(--spacing)), 1fr));
  gap: var(--half-spacing);
}

section .section-body.grid > * {
  width: 100% !important;
}

@media (min-width: 768px) and (max-width: 1023px) {
  section .section-body.grid {
    grid-template-columns: repeat(auto-fit, minmax(calc(33.33% - var(--spacing)), 1fr));
  }
}

@media (min-width: 560px) and (max-width: 767px) {
  section .section-body.grid {
    grid-template-columns: repeat(auto-fit, minmax(calc(50% - var(--spacing)), 1fr));
  }
}

@media (max-width: 559px) {
  section .section-header span {
    font-size: var(--medium-font);
  }

  section .section-body.grid {
    grid-template-columns: repeat(auto-fit, minmax(calc(100% - var(--spacing)), 1fr));
  }
}
