/* default button */
button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: calc(var(--spacing) / 4);
  padding: var(--half-spacing);
  border-radius: var(--border-radius);
  cursor: pointer;
}

button span {
  white-space: nowrap;
  color: var(--accent-color);
}

button svg path {
  fill: var(--accent-color);
}

/* primary button */
button.primary {
  background-color: var(--accent-color);
}

button.primary svg path {
  fill: var(--background-primary);
}

button.primary span {
  color: var(--background-primary);
}

/* secondary button */
button.secondary {
  background-color: var(--background-primary);
}

button.secondary span {
  color: var(--accent-color) !important;
}

button.secondary svg path {
  fill: var(--accent-color);
}

/* small button */
button.small {
  padding: var(--half-spacing);
}

button.small span {
  font-size: var(--small-font);
}

button.small svg {
  width: var(--medium-font);
  height: var(--medium-font);
}

/* disabled button */
button:disabled {
  background-color: var(--text-primary-transparent) !important;
}

button:not(:disabled):hover {
  border-radius: var(--circular-border-radius);
}
