@import url('./varieties/default.css');
@import url('./varieties/disabled.css');
@import url('./varieties/fail.css');
@import url('./varieties/primary.css');
@import url('./varieties/secondary.css');
@import url('./varieties/success.css');

button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--half-spacing);
  border-radius: var(--border-radius);
  cursor: pointer;
}

button span {
  white-space: nowrap;
  font-size: var(--small-font);
}

button svg {
  width: var(--medium-font);
  height: var(--medium-font);
}
