form {
  width: calc(25vw + var(--spacing));
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: var(--spacing);
  padding: var(--spacing);
  background-color: var(--background-secondary);
  border-radius: var(--border-radius);
}

form .form-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

form .form-header span {
  font-size: var(--large-font);
  font-weight: 700;
}

form .form-header a {
  font-size: var(--small-font);
  color: var(--accent-color);
}

form .form-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: var(--half-spacing);
}

form .form-body .form-body-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--half-spacing);
}

form .form-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: var(--half-spacing);
}

@media (min-width: 560px) and (max-width: 767px) {
  form {
    width: 100%;
  }
}

@media (max-width: 559px) {
  form {
    width: 100%;
  }
}
