.order-card {
  width: calc(33.33% - var(--spacing));
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: var(--half-spacing);
  padding: var(--half-spacing);
  background-color: var(--background-secondary);
  border-radius: var(--border-radius);
}

.order-card:hover .order-card-image img {
  transform: scale(1.05);
}

.order-card .order-card-image {
  aspect-ratio: 1/1;
  overflow: hidden;
}

.order-card .order-card-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  mix-blend-mode: multiply;
}

.order-card .order-card-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.order-card .order-card-details > * {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.order-card .order-card-details span:nth-child(1) {
  font-weight: 700;
}

.order-card .order-card-details span:not(span:nth-child(1)) {
  font-size: var(--small-font);
  color: var(--text-secondary);
}
