main {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: var(--spacing);
  gap: var(--spacing);
}

main.transform-left {
  translate: -25vw;
}

main.transform-right {
  translate: 25vw;
}
