footer {
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--spacing);
  background-color: var(--background-secondary);
}

footer #copyrights {
  font-size: var(--small-font);
  font-weight: 700;
}

footer #attribution,
footer #attribution a {
  font-size: var(--small-font);
  font-weight: 400;
  color: var(--text-secondary);
}

footer #attribution a {
  color: var(--accent-color);
}

footer #attribution a:hover {
  text-decoration: underline;
}
