aside {
  position: sticky;
  top: calc(4rem + var(--spacing));
  width: 20vw;
  height: calc(100vh - 8rem - calc(var(--spacing) * 2));
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: var(--half-spacing);
}

aside ul {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: var(--half-spacing);
  padding: var(--spacing);
  background-color: var(--background-secondary);
  border-radius: var(--border-radius);
  overflow: hidden;
  overflow-y: auto;
}

aside ul li button {
  width: 100%;
  justify-content: flex-start;
}

aside ul li button.secondary span {
  color: var(--text-primary);
}

@media (min-width: 768px) and (max-width: 1023px) {
  aside {
    width: 100%;
    height: fit-content;
    position: static;
    top: unset;
  }
}

@media (min-width: 560px) and (max-width: 767px) {
  aside {
    width: 100%;
    height: fit-content;
    position: static;
    top: unset;
  }
}

@media (max-width: 559px) {
  aside {
    width: 100%;
    height: fit-content;
    position: static;
    top: unset;
  }
}
