.annoncement {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.annoncement .annoncement-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.annoncement .annoncement-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  mix-blend-mode: multiply;
}

.annoncement .annoncement-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  gap: var(--half-spacing);
  padding: var(--spacing);
  background: var(--gradient-shade);
  z-index: 1;
}

.annoncement .annoncement-content span {
  font-size: var(--extra-large-font);
  color: var(--background-secondary);
}

.annoncement .annoncement-content p {
  color: var(--text-secondary);
  font-weight: 400;
}
