.device-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: var(--half-spacing);
  padding: var(--half-spacing);
  background-color: var(--background-secondary);
  border-radius: var(--border-radius);
}

.device-card .device-card-image {
  max-width: 280px;
  aspect-ratio: 1/1;
  overflow: hidden;
}

.device-card .device-card-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  mix-blend-mode: multiply;
}

.device-card .device-card-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.device-card .device-card-details > * {
  max-width: 280px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.device-card .device-card-details span:nth-child(1) {
  font-weight: 700;
  margin-bottom: var(--half-spacing);
}

.device-card .device-card-details span:nth-child(2),
.device-card .device-card-details span:nth-child(3) {
  font-size: var(--small-font);
  color: var(--text-secondary);
}
