nav {
  position: sticky;
  top: 0;
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--spacing);
  backdrop-filter: blur(5px);
  z-index: 2;
}

nav button {
  padding: 0;
}

nav a span {
  font-size: var(--large-font);
  font-weight: 700;
  color: var(--accent-color);
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--spacing);
}

nav ul li a {
  font-size: var(--small-font);
  font-weight: 400;
  color: var(--text-secondary-transparent);
}

nav ul li a:hover {
  color: var(--text-primary);
}

@media (prefers-color-scheme: light) {
  nav {
    background-color: rgba(255, 255, 255, 0.75);
  }
}

@media (prefers-color-scheme: dark) {
  nav {
    background-color: rgba(48, 49, 52, 0.75);
  }
}
