:root {
  /* colors */
  --background-primary: #f5f6f7;
  --background-secondary: #ffffff;
  --text-primary: #000000;
  --text-primary-transparent: #000000c0;
  --text-secondary: #8b8c89;
  --text-secondary-transparent: #8b8c89c0;
  --accent-color: #1d41ff;
  --accent-color-transparent: #1d41ff85;
  --fail-color: #d90429;
  --success-color: #0ead69;
  --transparent-overlay: #000000bb;
  --gradient-shade: linear-gradient(180deg, #00000000 0%, #000000 100%);
  --box-shadow: 0px 10px 25px 0px #adadad40;

  /*fonts*/
  --extra-small-font: clamp(8px, 10px, 12px);
  --small-font: clamp(8px, 12px, 16px);
  --medium-font: clamp(12px, 16px, 20px);
  --large-font: clamp(20px, 24px, 28px);
  --extra-large-font: clamp(32px, 40px, 48px);
  --extra-large-fontx2: clamp(40px, 48px, 56px);

  /*units*/
  --spacing: 24px;
  --half-spacing: 12px;
  --border-radius: 12px;
  --hover-border-radius: 24px;
}
